<ion-list>
    <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Année</ion-label>
        <ion-input type="text" [(ngModel)]="year"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Type</ion-label>
        <ion-select [(ngModel)]='type'>
            <ion-select-option value="">Tous</ion-select-option>
                <ion-select-option value="movie">Film</ion-select-option>
                <ion-select-option value="series">Série</ion-select-option>
                <ion-select-option value="episode">Episode</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-button expand="full" (click)="rechercher()">Rechercher</ion-button>
    <div *ngIf="error">
        <p>{{error}}</p>
    </div>
</ion-list>

<ion-list *ngIf="films && films.length > 0">
    <ion-card *ngFor=" let film of films">
        <img [src]="film.Poster">
        <ion-card-header>{{film.Title}}</ion-card-header>
        <ion-card-content>{{film.Year}}</ion-card-content>
    </ion-card>
</ion-list>