<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content padding>
<ion-card *ngIf = 'film'>
  <img [src]="film.Poster">
  <ion-card-header>
    <ion-card-subtitle>{{film.Title}}</ion-card-subtitle>
    <ion-card-title>{{film.Year}}</ion-card-title>
  </ion-card-header>
<ion-card-content>
  {{film.Plot}}
  <ion-button> Lire <ion-icon slot="end" name="musical-note"></ion-icon> </ion-button>
</ion-card-content>
</ion-card>

  </ion-content>
